extends header

block content
  #page-container
    #content-wrap
      .w3-container
        br
        .w3-card-4(style="width:40%; margin:auto; overflow:hidden")
          .w3-container.w3-center.main-color
            h1 Editar Inquirição #{i.UnitId}
          br
          if i.inquiryPicDir
            .w3-container.w3-center
              img.inquiry-picture(src=i.inquiryPicDir alt='Inquiry Picture')
          form.w3-container(action="/inquiry/"+i._id+"/edit" method="POST" enctype='multipart/form-data')
            label #[b Imagem da Inquirição: ]
            if i.inquiryPicDir
              input.w3-input(type="file" name="inquiryPic" value=i.inquiryPicDir accept="image/*")
            else
              input.w3-input(type="file" name="inquiryPic" accept="image/*")
            br
            label #[b Id da Inquirição: ] #{i.UnitId}
            br
            label #[b Titular: ] #{i.UnitTitle}
            br
            label #[b Filiações: ]
            br
            .w3-container(id='affiliationsContainer')
              - let count = 0
              each affiliation in i.affiliations
                affiliation(id='affiliation'+count)
                  .w3-container
                    label #[b Nome] : 
                      input.w3-input.w3-border.w3-hover-border-black(type="text" name="affiliationName" value=affiliation)
                    br
                    .w3-container.w3-center(id="removeAffiliationBtn")
                      button.colored.main-button(type="button" onclick="removeElement('affiliation"+count+"')") - Remover afiliação
                  br
                - count+=1
              .w3-container.w3-center(id="addAffiliationBtn")
                button.colored.main-button(type="button" onclick="addAffiliationForm()") + Adicionar afiliação

            label #[b Data de nascimento: ]
            input.w3-input.w3-border.w3-hover-border-black(type="date" name="birthdate" max=today value=i.birthdate)
            br
            label #[b Local de nascimento: ]
            input.w3-input.w3-border.w3-hover-border-black(type="text" name="birthplace" value=i.birthplace)
            br
            label #[b Concelho de residência: ]
            input.w3-input.w3-border.w3-hover-border-black(type="text" name="current_concelho" value=i.current_concelho)
            br
            label #[b Distrito de residência: ]
            input.w3-input.w3-border.w3-hover-border-black(type="text" name="current_district" value=i.current_district)
            br
            label #[b País: ]
            input.w3-input.w3-border.w3-hover-border-black(type="text" name="country" value=i.country)
            br
            label #[b Laços Pessoais: ]
            br
            .w3-container(id='relationsContainer')
              - count = 0
              each relation in i.relations_id
                relation(id='relation'+count)
                  .w3-container
                    label #[b Nome] : 
                      input.w3-input.w3-border.w3-hover-border-black(type="text" name="relationName" value=relation.name)
                    br
                    label #[b Relação] :
                      input.w3-input.w3-border.w3-hover-border-black(type="text" name="relationType" value=relation.type)
                    br
                    label #[b ID do Processo] :
                      input.w3-input.w3-border.w3-hover-border-black(type="number" name="relationId" value=relation.id)
                    br
                    .w3-container.w3-center(id="removeRelationBtn")
                      button.main-button.colored(type="button" onclick="removeElement('relation"+count+"')") - Remover relação
                  br
                - count+=1
              .w3-container.w3-center(id="addRelationBtn")
                button.colored.main-button(type="button" onclick="addRelationForm()") + Adicionar relação
            label #[b Repositório: ]
            input.w3-input.w3-border.w3-hover-border-black(type="text" name="Repository" value=i.Repository)
            br
            label #[b Localização física: ]
            input.w3-input.w3-border.w3-hover-border-black(type="text" name="PhysLoc" value=i.PhysLoc)
            br
            label #[b Localização anterior: ]
            input.w3-input.w3-border.w3-hover-border-black(type="text" name="PreviousLoc" value=i.PreviousLoc)
            br
            label #[b Material relacionado: ]
            input.w3-input.w3-border.w3-hover-border-black(type="text" name="RelatedMaterial" value=i.RelatedMaterial)
            br
            label #[b Escopo de conteúdo: ]
            textarea.w3-input.w3-border.w3-hover-border-black(name="ScopeContent" )=i.ScopeContent
            br
            label #[b Nota: ]
            input.w3-input.w3-border.w3-hover-border-black(type="text" name="Note" value=i.Note)
            br
            input.colored.main-button.w3-right(type="submit" value="Submeter modificações")
            a.colored.main-button(name="cancel" href='/inquiry/'+i._id) Cancelar
            br
            br
      br
      footer.main-color
        address Inquirições de Genere - RPCW  #{d} | #[a(href="/") Voltar]
      