extends layout
        
append scripts
    script(src='/javascripts/basics.js')

append styles
    link(rel='stylesheet', href='/stylesheets/basics.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

block head
    body
        header.w3-bar.w3-teal.w3-xlarge.overflow
            a.w3-bar-item.w3-button.w3-mobile(href="/")
                i.fa.fa-home
            if logged === true
                a.w3-bar-item.w3-button.w3-mobile.w3-right(href="/users/logout") Logout
            if username
                a.w3-bar-item.w3-button.w3-mobile(href="/users/profile")
                    i.fa.fa-address-book
                a.w3-bar-item.w3-mobile.w3-right Welcome #{username}!

            if (logged === false || !logged)
                a.w3-bar-item.w3-button.w3-mobile.w3-right(href="/users/register") Register
            
            if (logged === false || !logged)
                a.w3-bar-item.w3-button.w3-mobile.w3-right(href="/users/login") Login
            if logged === true
                a.notification.collapsible.w3-bar-item.w3-mobile.w3-button(id='notificationsContent')
                    i.fa.fa-bell
                    span.badge(id="nNotifications" style="display:none") 0
            
            a.w3-bar-item.w3-mobile.w3-button.collapsible(id="searchBar")
                i.fa.fa-search
        .w3-container.w3-teal.content(id='searchBarC', style="width=50%")
            h3 Procurar Inquirições
            input.w3-input.search-inputs(type="search" name="searchName" placeholder="Procura por nome de titular")
            input.w3-input.search-inputs(type="search" name="searchPlace" placeholder="Procura por localidade")
            - let today = new Date().toISOString().split("T")[0]
            Label Limite Inferior:
            input.w3-input.search-inputs(type="date"  name="searchTimeStart" max=today onchange="verifyPeriod()" value=timeStartValue placeholder="Procura por periodo")
            Label Limite Superior:
            input.w3-input.search-inputs(type="date"  name="searchTimeEnd" max=today onchange="verifyPeriod()" value=timeEndValue placeholder="Procura por periodo")
            p(id='searchMessage' style='none')
            .w3-center
                button.w3-button.w3-white(type="button" id="searchBtn" style="margin-bottom:10px" onclick="search()") Search

        .w3-container.content.w3-teal(id='notificationsContentC')
            h3 Notifications
                            
    if(logged === true)
        script.
            getNotifications()
            
    script.
        verifyPeriod()

        var collapsibles = document.getElementsByClassName("collapsible");

        for (var i = 0; i < collapsibles.length; i++) {
          var collapsible = collapsibles[i];
          var id = collapsible.id;

          collapsible.addEventListener("click", createClickListener(id));
        }

        



