extends header

block content
  #page-container
    #content-wrap
      .w3-container
        br
        .w3-card-4(style="width:40%; margin:auto; overflow:hidden")
          .w3-container.w3-center.main-color
            h1 Inquirição #{i.UnitId}
          br
          if i.inquiryPicDir
            .w3-container.w3-center
              img(src=i.inquiryPicDir alt='Inquiry Picture')
            br
          .w3-container
            h4 #[b Informações de inquirição]
            label #[b Id de documento: ] #{i._id}
            br
            label #[b Titular(es): ] #{i.UnitTitle}
            br
            label #[b Filiações: ]
            ul 
              each filiation in i.filiations
                li
                  a(href='/?searchName=^'+filiation) #{filiation}
            br
          .w3-container.w3-center
            span#dots
            a.w3-bar-item.w3-mobile.main-button.collapsible-info(id="showBtn" onclick="showMore()") Mostrar mais #[br] &#xfe40;              
          br
          .w3-container(id='more')
            label #[b Local de nascimento: ] #{i.birthplace}
            br
            label #[b Concelho de residência: ] #{i.current_concelho}
            br
            label #[b Distrito de residência: ] #{i.current_district}
            br
            label #[b Laços pessoais: ]
            .w3-container
              each relation in i.relations_id
                a(href="/inquiry/"+relation.id) #[b #{relation.name}]
                br
                label #[b Relação] : #{relation.type}
                br
              else
                b Não tem
            - let initDate = new Date(i.UnitDateInitial).toISOString().substring(0,10)
            - let finalDate = new Date(i.UnitDateFinal).toISOString().substring(0,10)
            label #[b Data de produção inicial: ] #{initDate}
            br
            label #[b Data de produção final: ] #{finalDate}
            br
            label #[b Localização física: ] #{i.PhysLoc}
            br
            label #[b Localização anterior: ] #{i.PreviousLoc}
            br
            label #[b Material relacionado: ] #{i.RelatedMaterial}
            br
            label #[b Nota: ] #{i.Note}
            br
            label #[b Criado por: ] #{i.Creator}
            br
            label #[b Data de criação: ] #{i.Created}
            br
            label #[b Editado por: ] #{i.Username}
            br
            label #[b Data de informação do processo: ] #{i.ProcessInfoDate}
            br
            label #[b Informação do processo: ] #{i.ProcessInfo}
            br
          br
          .w3-container.w3-center
            a.colored.main-button(href="/inquiry/"+i._id+"/edit") Editar
          br
        br
        .w3-card.main-color
          .w3-container
            h1 Posts
          hr

          form.w3-container(action="/inquiry/post/"+i._id method="POST")
            legend Novo post:
            textarea.w3-texarea(name="post", cols="30", rows="10" required) 
            br
            input.w3-button.w3-white(type="submit" value="Publicar")

          each post in posts
            hr
            .w3-container
              - let date = new Date(post.dateCreated).toISOString().substring(0,10)
              h6 Date: #{date}
              p #{post.author}: #{post.text}

              .w3-container
                each response in post.postResponses
                  h6 Date: #{response.dateCreated}
                  p #{response.author}: #{response.text} 

                form.w3-container(action="/inquiry/response/"+i._id+"?post="+post.id method="POST")
                  legend Nova resposta:
                  textarea.w3-texarea(name="response", cols="30", rows="10" required) 
                  br
                  input.w3-button.w3-white(type="submit" value="Publicar")
                  br
                  br