extends header

block content
  #page-container
    #content-wrap
      .w3-container
        br
        .w3-card-4(style="width:40%; margin:auto; overflow:hidden")
          .w3-container.w3-center.main-color
            h1 Inquirição #{i.UnitId}
          br
          if i.inquiryPicDir
            .w3-container.w3-center
              img.inquiry-picture(src=i.inquiryPicDir alt='Inquiry Picture')
            br
          .w3-container
            h4 #[b Informações de inquirição]
            label #[b Id de documento: ] #{i._id}
            br
            label #[b Titular(es): ] #{i.UnitTitle}
            br
            label #[b Filiações: ]
            ul 
              each affiliation in i.affiliations
                li
                  a(href='/?searchName=^'+affiliation) #{affiliation}
            br
            label #[b Local de nascimento: ] #{i.birthplace}
            br
            label #[b Concelho de residência: ] #{i.current_concelho}
            br
            label #[b Distrito de residência: ] #{i.current_district}
            br
            label #[b País: ] #{i.country}
            br
            label #[b Laços pessoais: ]
            .w3-container
              each relation in i.relations_id
                a(href="/inquiry/"+relation.id) #[b #{relation.name}]
                br
                label #[b Relação] : #{relation.type}
                br
              else
                b Não tem
            - let initDate = new Date(i.UnitDateInitial).toISOString().substring(0,10)
            - let finalDate = new Date(i.UnitDateFinal).toISOString().substring(0,10)
            label #[b Data de produção inicial: ] #{initDate}
            br
            label #[b Data de produção final: ] #{finalDate}
            br
          .w3-container.w3-center
            span#dots
            a.w3-bar-item.w3-mobile.main-button.collapsible-info(id="showBtn" onclick="showMore()") Mostrar mais #[br] &#xfe40;              
          br
          .w3-container(id='more')
            label #[b Repositório original: ] #{i.Repository}
            br
            label #[b Localização física: ] #{i.PhysLoc}
            br
            label #[b Localização anterior: ] #{i.PreviousLoc}
            br
            label #[b Material relacionado: ] #{i.RelatedMaterial}
            br
            label #[b Escopo do conteúdo: ] #{i.ScopeContent}
            br
            label #[b Nota: ] #{i.Note}
            br
            label #[b Criado por: ] #{i.Creator}
            br
            label #[b Data de criação: ] #{i.Created}
            br
            label #[b Editado por: ] #{i.editor}
            br
            label #[b Data de informação do processo: ] #{i.ProcessInfoDate}
            br
            label #[b Informação do processo: ] #{i.ProcessInfo}
            br
          br
          .w3-container.w3-center
            a.colored.main-button(href="/inquiry/"+i._id+"/edit") Editar
          br
        br
        .w3-card.main-color
          .w3-container
            h1 #[b Posts]
          div(style="background-color:#74150f;color:white;")
            br
            form.w3-container(action="/inquiry/post/"+i._id method="POST")
              h6 #[b Novo post:]
              textarea.w3-texarea(name="post", cols="30", rows="10" oninput="filledText(this)" required) 
              br
              input.w3-button.w3-white(type="submit" value="Publicar" disabled=true)
            br
          each post in posts
            .w3-container
              - let date = new Date(post.dateCreated).toISOString().substring(0,16)
              - date = date.split('T').join(" ")
              .w3-container
                h5.w3-left #[b #{post.author}]
                h5.w3-right #[b #{date}]
              .w3-container
                p=post.text
                hr

              .w3-container
                each response in post.postResponses
                  - let date = new Date(response.dateCreated).toISOString().substring(0,16)
                  - date = date.split('T').join(" ")
                  .w3-container
                    h5.w3-left #[b #{response.author}]
                    h5.w3-right #[b #{date}]
                  .w3-container
                    p=response.text
                    hr

                form.w3-container(action="/inquiry/response/"+i._id+"?post="+post.id method="POST")
                  h6 #[b Nova resposta:]
                  textarea.w3-texarea(name="response", cols="30", rows="10" oninput="filledText(this) required) 
                  br
                  input.w3-button.w3-white(type="submit" id='' value="Publicar" disabled=true)
                  br
                  br
            br
            div(style="height:20px;background-color:#74150f;")
              